@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');

:root {
    --fonte01: 'Lexend Giga', Verdana ,sans-serif;
    --fonte02: 'Comic Neue', cursive;
    --fonte03: Verdana, Tahoma, sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    min-height: 100vh;
    background-color: rgba(93, 17, 163, 0.644);
}

header {
    background-color: black;
    color: azure;
    text-align: center;
    padding: 15px;
}

header > h1 {
    font-family: var(--fonte01);
    font-size: 7vw;
    text-shadow: 1px 2px 1px rgba(196, 178, 178, 0.342);
    font-weight: bolder;
}

header > p {
    font-family: var(--fonte03);
    font-size: 1em;
    font-weight: bold;
}

a {
    color: azure;
    text-decoration: none;
}

a:hover {
    background-color: rgba(240, 248, 255, 0.589);
    transition-duration: 0.3s;
}

section {
    padding-top: 25vh;
    padding-bottom: 25vh;
    padding-left: 30px;
    line-height: 1.5em;
    font-size: 3vh;
}

section > p {
    font-family: var(--fonte02);
    padding-bottom: 2em;
    font-size: 2.4vw;
}

section.imagem {
    padding: 25h;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    margin: auto;
    color: rgba(240, 255, 255, 0.753);
    display: inline-block;
    font-weight: bold;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.658);
}

section#img01 {
    background-image: url('../imagens/background01.jpg');
    
}

section#img02 {
    background-image: url(../imagens/background02.jpg);
}
